/* @import url('function.css'); */

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  --primary-font: "Great Vibes", cursive;
  --text-font: "Montserrat", sans-serif;

  --small: 600px;
  --medium: 760px;
  --large: 960px;

  /* Palette */
  --bg: #fff8ec;
  /* --bg: #e5d7c4; */
  --surface: #f9f1e4;
  --moss: #889063;
  --cta: #354024;

  --text-light: #4c3d19;
  --text-bg: #fff8ec;

  --primary: #394931;
  --primary-rgb: 57, 73, 49;
  --color-text-active: rgb(255, 248, 236);

  --color-primary: #394931;
  --color-primary-rgb: 57, 73, 49;

  --color-cta: #394931;

  --color-bg: #fff8ec;
  --color-surface: #f9f4e4;

  --background-surface: #f9f4e4;

  --size-title: 48px;
  --size-title-section: 36px; /* Titres de sections */
  --size-subtitle: 28px; /* Sous-titres */
  --size-text: 16px;
  --size-text-secondary: 14px;
  --size-citation-intro: 18px;

  /* Polices */
  --police-tag: "Space Grotesk", sans-serif;
  --font-primary: Georgia, "Times New Roman", serif;
  --font-titre: Georgia, "Times New Roman", serif;
  --font-text: "Space Grotesk", sans-serif;

  /* Taille police */
  --tag-size: 14px;
  --button-size: 14px;
}
