/* @import url('function.css'); */

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  --primary-font: "Great Vibes", cursive;
  --text-font: "Montserrat", sans-serif;

  --small: 600px;
  --medium: 760px;
  --large: 960px;

  /* Palette */
  --bg: #fef9f3;
  /* --bg: #e5d7c4; */
  --surface: #f9f1e4;
  --moss: #889063;
  --cta: #354024;

  --text-bg: #fef9f3;
  --primary: #2c5282;
  --primary-rgb: 44, 82, 130;
  --color-text-active: rgb(254, 249, 243);
  --color-primary: #2c5282;
  --color-primary-rgb: 44, 82, 130;
  --color-cta: #3b82f6;
  --color-bg: #fef9f3;
  --color-surface: #f7f5f2;
  --background-surface: #f7f5f2;

  --size-title: 48px;
  --size-title-section: 36px; /* Titres de sections */
  --size-subtitle: 28px; /* Sous-titres */
  --size-text: 16px;
  --size-text-secondary: 14px;
  --size-citation-intro: 18px;

  /* Polices */
  --police-tag: "Space Grotesk", sans-serif;
  --font-primary: Georgia, "Times New Roman", serif;
  --font-titre: Georgia, "Times New Roman", serif;
  --font-text: "Space Grotesk", sans-serif;

  /* Taille police */
  --tag-size: 14px;
  --button-size: 14px;
}
