---
import "../index.css";
import Layout from "src/layouts/Layout.astro";
import "../styles/global.css";
import fetchApi from "../lib/strapi";
import HomepageHero from "src/components/homepage/homepage-hero.astro";
import type Dog from "../../src/interfaces/dog";
const vedettes = await fetchApi<Dog[]>({
  endpoint: "dogs",
  wrappedByKey: "data",
  query: {
    populate: "all",
  },
});
---
<pre>{JSON.stringify(vedettes, null, 2)}</pre>

<Layout title="Page d'accueil">
  <h1>Hello world</h1>
</Layout>




<style></style>
